NEXT_PUBLIC_RAZORPAY_KEY_ID=your_razorpay_test_key_here
RAZORPAY_KEY_SECRET=your_razorpay_secret_here
RAZORPAY_PLAN_ID=
RAZORPAY_WEBHOOK_SECRET=firebase-studio

ADMIN_PROJECT_ID=studio-8922232553-e9354
ADMIN_CLIENT_EMAIL=firebase-adminsdk-fbsvc@studio-8922232553-e9354.iam.gserviceaccount.com
ADMIN_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
